@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body {
    background-color: #f7ef99;
}

p {
    font-family:'Montserrat', sans-serif;  
}

#main-title {
    padding-left: 10%;
}

#emoji {
    width: 30px;
    height: 30px;
    transform-origin: left;
    transform: rotate(45deg);
}