@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/*defaults*/

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

button {
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    color: black;
    padding: 6px 8px;
    cursor: pointer;
}

.text, .index-header, .index-nest-item, #topbar-title, #topbar-secondary, .bold, .mild {
    font-family: 'Noto Sans', sans-serif;
    padding: 5px;
}

.dark-mode {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.index-header {
    font-weight: bold;
    font-size: large;
    margin-bottom: 2px;
}

.index-nest-item {
    margin-top: 2px;
    color: rgb(104, 104, 104);
    margin-left: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.bold {
    font-weight: bold;
    padding: 0;
}

.mild {
    font-weight: 500;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.836);
    padding: 0;
}

/*specifics*/

#topbar {
    background-color: rgba(63, 63, 63, 0);
    padding-left: 15px;
}

#content {
    margin-left: 20px;
    margin-top: 20px;
}

#topbar-title {
    display: inline-flex; 
    font-weight: 800; 
    font-size: 24px; 
    margin: 5px;
}

#topbar-secondary {
    display: inline; 
    color: rgba(0, 0, 0, 0.39); 
    font-weight: bold;
}