@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    background-color: rgb(255, 226, 140);
}

.text-poppins {
    font-family: 'Poppins', sans-serif;
}

.construction {
    margin: auto;
    width: 50%;
    text-align: center;
}

.text-poppins-faded {
    font-family: 'Poppins', sans-serif;
    color: darkslategray;
    margin-top: 2%;
    margin-bottom: 2%;
}

.download-button {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(226, 210, 137);
    border: 5px;
    border-radius: 5px 0px 5px 0px;
    border-style: solid;
    border-color: rgb(218, 199, 118);
    padding: 1% 1% 1% 1%;
    color:rgb(0, 56, 161);
}

hr {
    height: 2px;
    border-width: 0;
    color: darkkhaki;
    background-color: darkkhaki;
}

#title {
    padding: 5px 0% 5px 0.5%;
    color: rgb(196, 148, 59);
    background-color: rgb(230, 199, 106);
}

