@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    background-color: rgb(255, 226, 140);
}

.text-poppins {
    font-family: 'Poppins', sans-serif;
}

.construction {
    margin: auto;
    width: 50%;
    text-align: center;
}

hr {
    height: 2px;
    border-width: 0;
    color: darkkhaki;
    background-color: darkkhaki;
}

#title {
    padding: 5px 0% 5px 0.5%;
    color: rgb(196, 148, 59);
    background-color: rgb(230, 199, 106);
}